body{
    background-color: #ffffff;
}
li a{

    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
  
  }
  
  ul{
    
    display: flex; /* Ativa a propriedade de alinhamento*/
    justify-content: row; /*Coloca os elementos na horizontal*/
    align-items: center;

  }
  
  li{
    
    list-style: none; /* Remove os pontos da lista*/
  
  }
  
  nav{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;

  }
  
  .logo{
  
    height: 30px;
    width: 100px;
    
  }

  .estrutura-das-caixas{

    display: flex;
    background-size: cover;
    align-items: start;
    justify-content: center;
    border: 50px;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    gap: 10px;

  }

  .texto-sen{

    font-size: 15px;
    border: 10px;
    border: solid;
    border-radius: 30px;
    padding: 5px;
    
  }

  .card{

    color: black;
    border: 10px;
    border: solid;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: center;

  }
